@font-face {
    font-family: CircularFontBlack;
    src: url('/assets/fonts/circular-black.otf');
}

@font-face {
  font-family: CircularFontBold;
  src: url('/assets/fonts/circular-bold.otf');
}

@font-face {
  font-family: CircularFontBook;
  src: url('/assets/fonts/circular-book.otf');
}

@font-face {
  font-family: CircularFontMedium;
  src: url('/assets/fonts/circular-medium.otf');
}

#appTitle {
  font-size: 50px;
}

#logo-img {
  margin-left: 30vw;
}

#thought-text-holder {
  padding-left: 20px;
  margin-left: 15px;
  margin-top: 3.5vh;
}

#thought-holder {
  margin-left: 40vw;
}

#thought-text {
  font-size: 22px;
  margin-top: 2.5vh;
  font-family: CircularFontMedium;
}

#thought-for-the-day {
  font-size: 40px;
  text-align: center;
  font-family: CircularFontBold;
}

#by-holder {
  margin-top: 20px;
}

#by-person-text {
  font-family: CircularFontMedium;
  font-size: 20px;
  margin-left: 49vw;
}

#profile-pic {
  margin-top: 30px;
  height: 50%;
  border-radius: 50%;
  margin-left: 47vw;
}