@font-face {
    font-family: CircularFontBlack;
    src: url('/assets/fonts/circular-black.otf');
}

@font-face {
  font-family: CircularFontBold;
  src: url('/assets/fonts/circular-bold.otf');
}

@font-face {
  font-family: CircularFontBook;
  src: url('/assets/fonts/circular-book.otf');
}

@font-face {
  font-family: CircularFontMedium;
  src: url('/assets/fonts/circular-medium.otf');
}

#appTitle {
  font-size: 50px;
}

#thought-text-holder {
  padding-left: 20px;
  margin-top: 3.5vh;
}



#thought-text {
  font-size: 22px;
  margin-top: 2.5vh;
  font-family: CircularFontMedium;
}

#thought-for-the-day {
  font-size: 40px;
  text-align: center;
  font-family: CircularFontBold;
}

#by-holder {
  margin-top: 20px;
}

#by-person-text {
  font-family: CircularFontMedium;
  font-size: 20px;
}

#profile-pic {
  padding-top: 5px;
  margin-top: 10px;
  border-radius: 50%;
}